<!-- 메인페이지 -->

<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
</head>

<body>

    <a href="http://localhost:{{port}}">
        <h1>{{title}}</h1> 
    </a>   
    

    <form id="form" action="" method="post">
        
        <h3>사용자 정보 등록</h3>
        <input type="text" name="id" placeholder="ID" /><br>
        <input type="text" name="password" placeholder="Password" /><br>
        <input type="text" name="name" placeholder="Name" /><br>
        <input type="text" name="addr" placeholder="Address" /><br>
        <input type="text" name="ph" placeholder="Phone Number" /><br>
        <button type="submit">전송</button>
    </form>

    
    
</body>

</html>
